body {
  margin: 0;
  padding: 0;
}
.container {
  position: relative;
  width: 100%;
  height: 100vh;
  scroll-behavior: smooth;
  overflow: auto;
  scroll-snap-type: y mandatory;
}
.section {
  width: 100%;
  height: 100vh;
  scroll-snap-align: start;
}
.section:nth-child(1) {
  background-color: bisque;
}
.section:nth-child(2) {
  background-color: blue;
}
.section:nth-child(3) {
  background-color: khaki;
}
.section:nth-child(4) {
  background-color: aqua;
}
.section:nth-child(5) {
  background-color: aquamarine;
}
